<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Company</title>
</head>
<body>
  <h2 class='ticker' id='tickerCode'>Company Code: <%= name %></h2>
  <h2>Price is 192</h2>
  <h2>Ticker code is <%= tickerCode %></h2>
  <h3>Stories </h3>
  <h3>Story 1 - sentiment: 2</h3>
  <h3>Story 2 - sentiment: -2</h3>
</body>
</html>